<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Ever wonder what date is 3 weeks away from now?</h3>
                <h1>Week Counter for iPhone</h1>
                <h5>Download our new iOS app to find out.</h5>
                <h5>Useful for doctors, students, pretty much everyone.</h5>
                <br>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/week-counter.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
